.max{
    max-width: 992px;
}

table.dataTable td {
    word-break: break-word;
}

.producto-busqueda:hover{
    opacity: 70%;
    transition: 0.5s;

}


/* Estilo para el contenedor principal */
.logo-github {
    background-color: #f8f8f8;
    padding: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Estilo para el enlace */
.logo-github a {
    text-decoration: none;
    color: #0366d6; /* Color típico de los enlaces en GitHub */
}

/* Estilo para el logotipo de GitHub */
.github-logo {
    width: 20px; /* Ajusta el tamaño según sea necesario */
    height: 20px;
    margin-right: 5px; /* Espaciado entre el logotipo y el texto */
}

/* Estilo para el texto adicional */
.logo-github p {
    margin: 5px 0;
    font-size: 14px;
    color: #333; /* Color de texto oscuro */
}

    .footer {
        position: relative;
        background-color: #053c03c9;
        color: #ffffff;
        padding: 10px;
        text-align: center;
    }

    .footer a {
        text-decoration: none;
        color: #ffffff;
        text-align: center;
    }


    .github-logo {
        width: 50px;
        height: 50px;
        margin-right: 5px;
    }